<entries>
  <div class="tabs">
    <nav class="tabs-nav">
      <a href="#" onclick="{ () => this.load('all') }" class="{active: status == 'all'}">All</a>
      <a href="#" onclick="{ () => this.load('unseen') }" class="{active: status == 'unseen'}">Unseen</a>
      <a href="#" onclick="{ () => this.load('bookmark') }" class="{active: status == 'bookmark'}">Bookmarked</a>
      <a href="#" onclick="{ () => this.load('trending') }" class="{active: status == 'trending'}">Trending</a>
    </nav>
  </div>

  <div each={ items.filter(visible) } class="card">
    <h5>
      <span each={ sources } class="label">{ title }&nbsp;∙&nbsp;</span>
    </h5>
    <h6>{ new Date(parseInt(updated, 10) * 1000).toLocaleString() }</h6>
    <a onclick="{ open }" href="#">
      <h4>{ title }</h4>
      <!--div if={ image } class="card-image">
        <img src="{ image }" class="img-responsive text-center" />
      </div-->
    </a>
    <footer>
      <button if={ !flagged } title="Add to your ReRSS feed"><i class="fa fa-rss"></i></button>
      <button if={ flagged } title="Remove from your ReRSS feed"><i class="fa fa-stop"></i></button>
      <button title="Read it later" onclick="{ set_bookmark }"><i class="fa fa-bookmark"></i></button>
      <button title="Mark as seen" onclick="{ set_seen }"><i class="fa fa-check"></i></button>
      <a title="Open" href="{ link }" class="button"><i class="fa fa-link"></i></a>
    </footer>
  </div>
  <div if={ !items.length } class="empty">
    <div class="empty-icon">
      <i class="icon icon-people"></i>
    </div>
    <h4 class="empty-title">You have no registered feed yet</h4>
    <p class="empty-subtitle">Click the button to add a new RSS feed.</p>
    <div class="empty-action">
      <a class="btn btn-primary" href="#/new-feed">Add a feed</a>
    </div>
  </div>

  <script>
    this.items = []
    this.status = null
    let _currentEntry = null

    this.on('mount', () => this.load('unseen'))

    this.on('unmount', () => _currentEntry && _currentEntry.unmount('entry'))

    getURL () {
      let url = 'http://localhost:1707/entry?'
      if (this.status === 'unseen') url += 'seen=0&bookmark=0'
      else if (this.status === 'bookmark') url += 'seen=0&bookmark=1'
      else if (this.status === 'trending') url += 'orderby=trending'
      return url
    }

    load (status) {
      this.status = status
      fetch(this.getURL())
      .then((response) => response.json())
      .then((data) => {
        this.items = data.entries
        this.update()
      })
    }

    more () {
      let url = this.getURL()
      let len = document.querySelectorAll('entries .card').length
      if (len === 20) return
      url += '&offset=' + len + '&limit=' + (20 - len)
      fetch(url)
      .then((response) => response.json())
      .then((data) => {
        this.items.push(...data.entries)
        this.update()
      })
    }

    set_seen (e) {
      const url = 'http://localhost:1707/entry/' + encodeURIComponent(e.item.link)
      fetch(url, {
        method: 'POST',
        body: JSON.stringify({'seen': !e.item.seen})
      })
      .then((response) => response.json())
      .then((data) => {
        var index = this.items.indexOf(e.item)
        this.items[index] = data
        this.update()
        this.more()
      })
    }

    set_bookmark (e) {
      const url = 'http://localhost:1707/entry/' + encodeURIComponent(e.item.link)
      fetch(url, {
        method: 'POST',
        body: JSON.stringify({'bookmark': !e.item.bookmark})
      })
      .then((response) => response.json())
      .then((data) => {
        var index = this.items.indexOf(e.item)
        this.items[index] = data
        this.update()
        this.more()
      })
    }

    open (e) {
      _currentEntry = riot.mount('entry', {link: e.item.link})[0]
    }

    visible (item) {
      if (this.status === 'unseen') return !item.seen && !item.bookmark
      else if (this.status === 'bookmark') return !item.seen && item.bookmark
      return true
    }

    this.mixin(View)
  </script>

  <style>
  :scope .card {
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
  }
  :scope img {
    max-width: 100%;
  }
  </style>

</entries>
