<navbar>
  <progress style="display: none" id="progress" />
  <section>
    <a href="#feeds" class="button button-link">Feeds</a>
    <a href="http://localhost:1707/myfeed/atom" class="button button-link"><i class="fa fa-rss"></i> My reRSS</a>
  </section>
  <section class="text-center">
    <a href="/">uRSS</a>
  </section>
  <section class="text-right">
    <a href="#" class="button" onclick={ sync }><i class="fa fa-refresh"></i></a>&nbsp;
    <a href="#new-feed" class="button"><i class="fa fa-plus"></i> New feed</a>
  </section>

  <style>
    :scope {
      display: block;
      padding: 2em;
    }
    :scope progress {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
    }
  </style>

  <script>

    sync (e) {
      e.preventDefault()
      const progress = document.querySelector('#progress')
      progress.style.display = 'block'
      const socket = new WebSocket('ws://localhost:1707/sync')
      socket.addEventListener('message', function (event) {
        const data = JSON.parse(event.data)
        if (data.status === 'done') {
          progress.style.display = 'none'
          socket.close()
          route('/')  // Does not work.
        } else if (data.progress) {
          progress.value = data.progress
        }
      })
    }

  </script>
</navbar>
